@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Library</h1>
    <p>Click here <a asp-page="/LibraryManagement">to see more actions</a>.</p>
</div>
